.git
.gitignore
.gitattributes
/vendor
/node_modules
/public/build
/public/hot
/public/storage
.env
.env.backup
.env.production
/storage/*.key
/storage/logs/*.log
/storage/pail
npm-debug.log*
.phpunit.result.cache
.phpunit.cache
.DS_Store
Thumbs.db
Dockerfile
docker-compose.yml
.dockerignore
